<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets>
    <target xsi:type="File" name="log_info" fileName="${basedir}\logs\${logger}_INFO.txt" />
    <target xsi:type="File" name="log_error" fileName="${basedir}\logs\${logger}_ERROR.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="log_info" />
    <logger name="*" minlevel="Error" writeTo="log_error" />
  </rules>
</nlog>